<div class="d-flex h100 align-items-center flex-wrap justify-content-evenly">
  <a href="https://angular.io/cli/generate#class-command" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Class</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#component" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Component</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#directive" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Directive</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#enum-command" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Enum</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#guard-command" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Guard</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#interceptor-command" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Interceptor</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#interface-command" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Interface</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#module-command" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Module</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#pipe-command" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Pipe</h3>
    </article>
  </a>
  <a href="https://angular.io/cli/generate#service-command" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Service</h3>
    </article>
  </a>
</div>
