<!-- Header -->
<header id="header">
  <a class="logo col-6" routerLink="/"><strong>Angular</strong> Initiation</a>
  <ul class="icons col-6">
    <li><a class="icon brands fa-twitter" href="https://twitter.com/DawanFrance"><span class="label">Twitter</span></a>
    </li>
    <li><a class="icon brands fa-facebook-f" href="https://www.facebook.com/DawanFrance"><span
      class="label">Facebook</span></a></li>
    <li><a class="icon brands fa-youtube" href="https://www.youtube.com/dawantv"><span class="label">YouTube</span></a>
    </li>
    <li><a class="icon brands fa-instagram" href="https://www.instagram.com/dawanfrance/"><span
      class="label">Instagram</span></a></li>
    <li><a class="icon brands fa-linkedin" href="https://www.linkedin.com/company/dawan/"><span
      class="label">LinkedIn</span></a></li>
  </ul>
</header>
