<div class="row h100">
  <div class="col-12 row">
    <div class="col-6 row" style="justify-content: center; flex-direction: column">
      <p>Liez la couleur choisie ci-dessous à la couleur du texte ci contre</p>
      <div class="col-12">
        <label>Couleur :</label>
      </div>
    </div>
    <div class="col-6 d-flex flex-column justify-content-center">
      <div class="p-2 text-center struct-scheme">
        <p class="m-0"> En fonctionnant avec l'interpolation, je me transforme en caméléon</p>
      </div>
    </div>
  </div>
  <div class="col-12 row">
    <div class="col-6 row" style="justify-content: center; flex-direction: column">
      <div class="col-12 row">
        <p>Utilisez les boutons ci-dessous afin d'additionner ou soustraire la valeur indiquée à la jauge en face</p>
        <div class="col-12 d-flex align-items-center justify-content-evenly">
          <button>Augmenter</button>
          <p class="m-0">Valeur: {{random}}</p>
          <button>Réduire</button>
        </div>
      </div>
    </div>
    <div class="col-6 row" style="justify-content: space-evenly; flex-direction: column">
      <label class="col-12">
        Progression : {{progress}} / 100
        <mat-progress-bar class="w-100" mode="determinate" [value]="progress"></mat-progress-bar>
      </label>
    </div>
  </div>
  <div class="col-12 row">
    <div class="col-6 row" style="justify-content: center; flex-direction: column">
      <div class="col-12 row">
        <p>Utilisez les éléments du composant enfant (ci-contre) afin de récupérer et mettre à jour les informations de style de la div ci-dessous:</p>
        <div class="col-10">
          <div class="p-2 text-center struct-scheme" [ngStyle]="currentStyles">
            <p class="m-0"> Mon composant Child me redimensionne. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 row" style="justify-content: space-evenly; flex-direction: column">
      <app-binding-child></app-binding-child>
    </div>
  </div>
</div>
