<div class="d-flex h100 align-items-center flex-wrap justify-content-evenly">
  <a href="https://angular.io/guide/forms" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-solid fa-file-signature m-0"></span>
      <h3 style="font-weight: bold; text-align: center">T.D. Forms</h3>
    </article>
  </a>
  <a href="https://angular.io/guide/reactive-forms" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-solid fa-file-contract m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Reactive Forms</h3>
    </article>
  </a>
  <a href="https://angular.io/api/forms/Validators" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-solid fa-spell-check m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Validators</h3>
    </article>
  </a>
</div>
