<div *ngIf="topic !== undefined && info; else error" class="features h100">
  <article>
      <span (click)="openDialog()" class="icon {{info.icon || 'fa-gem'}}" matTooltip="Cours"
            matTooltipClass="example-tooltip-red"></span>
    <div class="content h100 d-flex flex-column">
      <h3 style="font-weight: bold">{{info.title}}</h3>
      <div class="info-texte" [innerHTML]="info.texte | safe:'html'"></div>
      <ng-container *ngIf="info.exemple">
        Exemple:
        <div class="row">
          <div class="col-6 col-12-small row">
            <template *ngIf="!info.exemple.desc" #vc></template>
            <div  *ngIf="info.exemple.desc" class="col-12">
              <app-text-code [text]="info.exemple.desc"></app-text-code>
            </div>
          </div>
          <pre class="col-6 col-12-small"><code [highlight]=" info.exemple.content | style"></code></pre>
        </div>
      </ng-container>

    </div>
  </article>
  <div class="exercice">
    <router-outlet></router-outlet>
  </div>
</div>
<ng-template #error>
  Error
</ng-template>
