<div class="d-flex flex-column h100">
  <p>Créez 2 composants ainsi que les routes associées afin de les afficher dans cette page. Le premier composant peut être indépendant avec un rendu libre mais le second devra récupérer une ou plusieurs informations (par path ou data) et les utiliser dans le rendu du composant.</p>
  <p>La zone ci-dessous recevra les liens vers les composants listés dans la liste prévue à cet effet dans le fichier app-routing.module.ts</p>
  <div class="d-flex align-items-center flex-wrap justify-content-evenly border-red">
    <a>
      <h3 style="font-weight: bold; text-align: center">Exemple</h3>
    </a>
  </div>
  <p>La zone suivante contiens le router-outlet prêt à afficher les composants qui auront été associés aux liens ci-dessus</p>
  <div class="border-red h100">
    <router-outlet name="exercice"></router-outlet>
  </div>
</div>
