<div class="text swiper-no-swiping active" discover="1">
  <h1 class="title-back">I. Fondation de la civilisation</h1>
  <div class="scroll">
    <p lang="lang_14">Grâce à un plan de colonisation interstellaire, les humains ont créé une nouvelle civilisation sur
      une planète appelée Aida.
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
      <br><br>Afin d'extraire de la comète Mara une énergie aussi mystérieuse que puissante appelée omnium, ils ont
      construit la Tour des Rêves.
      <br><br>Mais après avoir tant convoité les ressources de la comète, les humains finiront par devoir payer le prix
      de leur avarice.<br><br>
    </p>
  </div>
</div>
