<div class="d-flex h100 align-items-center flex-wrap justify-content-evenly">
  <a href="https://angular.io/guide/observables" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-brands fa-angular m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Observables</h3>
    </article>
  </a>
  <a href="https://angular.io/guide/http" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-solid fa-server m-0"></span>
      <h3 style="font-weight: bold; text-align: center">HTTP</h3>
    </article>
  </a>
  <a href="https://angular.io/guide/observables-in-angular" target="_blank">
    <article class="struct-scheme flex-column-reverse">
      <span class="icon fa-solid fa-magnifying-glass m-0"></span>
      <h3 style="font-weight: bold; text-align: center">Cas Pratiques</h3>
    </article>
  </a>
</div>
