/* You can add global styles to this file, and also import other style files */

html, body, .h100 {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box
}

.title-back {
  background: url(/assets/img/p3-text-title.png) right top no-repeat;
  background-size: 100% 100%;
}

.ratio-15x22 {
  aspect-ratio: 15 / 22;
}

.mat-dialog-container {
  padding: 0 !important;
}

.scroll {
  height: 86%;
  overflow-y: auto;
  color: white;
}

.scroll::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 10px;
  border: 0.0093rem solid #32eeff;
}

.scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #32eeff;
}

button .mat-icon {
  vertical-align: middle;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  color: #f56a6a;
  font-weight: bolder;
  font-size: 2em;
}

.menu-title img {
  height: 2em;
}

#main .inner {
  height: 100%;
  padding-right: 0 !important;
}

.l-shadow {
  box-shadow: 5px -1px 5px -1px rgba(0, 0, 0, 0.46) inset;
  -webkit-box-shadow: 5px -1px 5px -1px rgba(0, 0, 0, 0.46) inset;
  -moz-box-shadow: 5px -1px 5px -1px rgba(0, 0, 0, 0.46) inset;
  height: 100%;
  padding: 1em 10px 0;
}

header.major > :last-child {
  margin: 0 0 .5em 0 !important;
}

.example-tooltip-red {
  background: #f56a6a;
  font-size: 1em;
}

.mat-calendar {
  height: auto !important;
}

.mat-calendar button, .ngx-mat-timepicker button {
  box-shadow: none;
}

.ngx-mat-timepicker table td, .ngx-mat-timepicker input {
  padding: 0 !important;
  border: none !important;
}

*::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(39, 40, 51, 0.365);
}

*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #e44c65;
}

.folder-border {
  border-left: gray 1px solid;
  min-width: 5px;
}

.row:has(> .folder) * {
  padding-left: 0 !important;
}

.folder:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: '\f07b';
  margin-right: 5px;
}

.code-file:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: '\f1c9';
  margin-right: 5px;
}

.css-file:before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 900;
  content: '\f38b';
  margin-right: 5px;
}

.html-file:before {
  font-family: "Font Awesome 6 Brands";
  font-weight: 900;
  content: '\f13b';
  margin-right: 5px;
}

.config-file:before {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  content: '\f7d9';
  margin-right: 5px;
}

.folder, .html-file, .code-file, .css-file, .config-file {
  white-space: nowrap;
}

.struct-scheme {
  border-radius: 10px;
  border: 2px solid #f56a6a;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5) inset;
  padding: 2em !important;
  width: inherit;
  overflow: auto;
}

.struct-scheme::-webkit-scrollbar, .struct-scheme::-webkit-scrollbar-thumb {
  margin: 2px 0;
  border-radius: 10px;
}

 .text-exemple, .info-texte {
   height: 0;
   flex: 1;
 }
